@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add padding for Android navigation bar at bottom */
body {
  padding-top: 16px;
  padding-bottom: env(safe-area-inset-bottom, 8px);
}

#root {
  padding-top: env(safe-area-inset-top, 0px);
}